.card {
  max-width: 100%;
  list-style: none;
}

.card__image {
  object-fit: cover;
  background-size: cover;
  width: 270px;
  height: 151px;
  border: 0;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.card__container {
  display: flex;
  flex-direction: column;
}

.card__title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.card__title {
  margin-top: 11px;
  max-width: 250px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.card__time {
  display: flex;
  margin-top: 6px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  align-items: center;
  color: #A0A0A0;
}

.card__delete-button {
  background-image: url(../../assets/images/delete-button.svg);
  margin: 7px 0 25px;
  width: 24px;
  height: 24px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  margin: 7px 6px 25px 0;
  width: 24px;
  height: 24px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../assets/images/like.svg");
}

.card__like-button_active {
  background-image: url("../../assets/images/like-active.svg");
}

.card__delete-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: 100%;
  }

  .card__title {
    font-size: 12px;
    line-height: 15px;
  }

  .card__time {
    font-size: 10px;
    line-height: 12px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }
}