.container {
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 320px) {
  .container {
    margin: 0 auto;
    padding: initial;
    max-width: 320px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
