.navigation-overlay {
    display: none;
}

@media screen and (max-width: 1023px) {
    .navigation-overlay {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 5;
        flex-direction: row-reverse;
    }

    .navigation-menu {
        padding: 159px 90px 90px 90px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 520px;
        box-sizing: border-box;
        min-height: 100vh;
        background: #FFF;
    }

    .navigation-menu__close-button {
        position: absolute;
        top: 22px;
        right: 30px;
        width: 22px;
        height: 22px;
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        cursor: pointer;
    }

    .navigation-menu__close-button:hover {
        opacity: .6;
    }

    .navigation-menu__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .navigation-link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        width: max-content;
        border-bottom: 2px solid transparent;
        color: #000;
    }

    .navigation-link_active {
        border-bottom: 2px solid #000;
    }

    .navigation-menu__button {
        cursor: pointer;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, .08);
    }

    .navigation-menu__button:hover {
        opacity: .6;
    }
}

@media screen and (max-width: 576px) {
    .navigation-menu {
        padding: 144px 10px 46px 10px;
        width: 100%;
    }

    .navigation-menu__links {
        gap: 15px;
    }
}

.account-button {
    padding: 3px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    background: #FFF;
}

.account-button:hover {
    opacity: .6;
}

.account-button__text {
    padding: 6.5px 8px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
}

.profile-icon-wrapper {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background: #F9F9F9;
}

.profile-icon-wrapper__image {
    margin: 7px;
}