.search {
  margin: 70px 70px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search__border-bottom {
  margin-top: 48px;
}

.search__form-error {
    color: red;
}

.search__form {
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}

.search__input {
  padding-bottom: 13px;
  width: 95%;
  font-weight: 500;
  font-size: 28px;
  line-height: 20px;
  border: none;
  color: #a0a0a0;
  background: #fff;
}

.search__input:focus {
  outline: none;
  background-color: #f9f9f9;
}

input::-webkit-input-placeholder {
  color: #a0a0a0;
}

input:-moz-placeholder {
  color: #a0a0a0;
}

input::-moz-placeholder {
  color: #a0a0a0;
}

input:-ms-input-placeholder {
  color: #a0a0a0;
}

.search__input_type_error {
  border-bottom-color: #ff3055;
}

.search__input_type_error:focus {
  border-bottom-color: #ff3055;
}

.search__input-error {
  margin: 0;
  position: absolute;
  top: 30px;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff3055;
}

.search__input-error_active {
  visibility: visible;
}

.search__button {
  margin-bottom: 13px;
  min-width: 58.65px;
  height: 34px;
  flex-shrink: 0;
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  background: #3456f3;
  color: #fff;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .search {
    margin: 80px 30px 0;
  }

  .search__form {
    margin-bottom: 29px;
  }

  .search__input {
    padding-bottom: 13px;
  }

  .search__input-error {
    top: 30px;
  }

  .search__button {
    margin-bottom: 13px;
  }

  .search__border-bottom {
    margin-top: 61px;
  }
}

@media screen and (max-width: 576px) {
  .search {
    margin: 84px 14px 0;
  }

  .search__form {
    margin-bottom: 41px;
  }

  .search__label {
    display: none;
  }

  .search__input {
    padding: 6px 0 15px;
    width: calc(100% - 80px);
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
  }

  .search__button {
    margin-bottom: 9px;
    max-width: 80px;
  }

  .search__border-bottom {
    margin-top: 51px;
  }
}
