.card__delete-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #f9f9f9;
}

.card__delete-icon {
  display: block;
  flex-shrink: 0;
}
