.about-me {
    box-sizing: border-box;
    padding: 110px 60px 100px;
}

.about-me__title {
    margin: 0;
    padding-bottom: 23px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.88px;
    border-bottom: 1px solid #000;
}

.about-me__container {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.about-me__text-block {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.about-me__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
}

.about-me__info {
    margin: 18px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.about-me__description {
    margin: 26px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.about-me__link {
    margin-top: 99px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.7s;
    color: #000;
}

.about-me__link:hover {
    opacity: .6;
}

.about-me__photo {
    width: 270px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

@media screen and (max-width: 1023px) {
    .about-me {
        padding: 90px 50px;
    }

    .about-me__text-block {
        margin-right: 49px;
    }

    .about-me__subtitle {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .about-me__info {
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__description {
        margin-top: 20px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__link {
        margin-top: 87px;
        font-size: 14px;
        line-height: 17px;
    }

    .about-me__photo {
        width: 255px;
    }
}

@media screen and (max-width: 767px) {
    .about-me {
        padding: 70px 14px;
    }

    .about-me__container {
        margin-top: 60px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-me__text-block {
        margin-right: 0px;
    }

    .about-me__title {
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__subtitle {
        margin-top: 40px;
        font-size: 30px;
        line-height: 36px;
    }

    .about-me__info {
        margin-top: 18px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__description {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__link {
        margin-top: 40px;
        font-size: 14px;
        line-height: 17px;
    }

    .about-me__photo {
        max-width: 292px;
    }
}