.nav-tab {
  position: absolute;
  bottom: 75px;
}

.nav-tab__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  transition: 1.5s;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

.nav-tab__link:hover {
  transform: translate(0, -1px) scale(1.01);
  background: #2be080;
}

@media screen and (max-width: 1023px) {
  .nav-tab {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 767px) {
  .nav-tab {
    bottom: 30px;
  }
}
